* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#searchQuery {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}


/* Скрытый заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

input[type=text] {
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 20px 20px;
  border: 5px solid #1b22f59f;
  border-radius: 4px;
  background-color: #eff21b9f;
  color: black;
}


button[type=submit] {
  background-color: #eff21b9f;
  border: 3px solid #1b22f59f;
}

button[type=submit]:hover,
button[type=submit]:focus {
    background-color:#188CE8;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
  grid-auto-rows: 240px; 
  grid-auto-rows: 240px; 
  grid-gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto; 
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.info-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

